{% extends "base.html" %}

{% block content %}
<style>
    /* Estilos personalizados para la página de inicio */
    .news-article {
        background-color: #f5f5f5; /* Fondo gris claro */
        border: 1px solid #ddd; /* Borde gris */
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    .news-article h2 {
        color: #333; /* Texto negro */
        font-size: 24px;
        margin-bottom: 10px;
    }

    .news-article p {
        color: #666; /* Texto gris */
        font-size: 16px;
    }

    .news-article img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        border: 1px solid #ccc; /* Borde gris para las imágenes */
        border-radius: 5px; /* Bordes redondeados para las imágenes */
    }
</style>
    <h1>Confirmar Eliminación de Solicitud</h1>
    <p>¿Estás seguro de que deseas eliminar la solicitud "{{ request_to_delete.request_type }}"?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        <a href="{% url 'view_requests' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
