{% extends "base.html" %}

{% block content %}
<h1>Gestión Usuarios</h1>

<!-- Incluir CSS de DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

{% if not editing %}
<table id="usersTable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Grupo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.groups.first.name }}</td>
            <td><a href="{% url 'edit_profile' user.profile.id %}" class="btn-edit">Editar</a></td>
        </tr>
    {% endfor %}


    </tbody>
</table>

<!-- Incluir JS necesario para DataTables -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
    // Inicializar DataTables y habilitar la funcionalidad de filtrado y ordenamiento de columnas
    $('#usersTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" // Traducción al español
        }
    });
} );
</script>
{% else %}
<h2>Editar Perfil</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Actualizar perfil</button>
</form>


{% endif %}
<style>
    /* Estilos para los botones Edit y Eliminar */
    .btn-edit,
    .btn-delete {
        padding: 5px 10px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        margin-right: 5px;
        transition: background-color 0.3s ease; /* Transición de color de fondo */
        font-weight: bold;
        text-transform: uppercase;
    }

    .btn-edit {
        background-color: #1ABC9C; /* Verde esmeralda */
    }

    .btn-delete {
        background-color: #E74C3C; /* Rojo rubí */
    }

    /* Efecto de brillo al pasar el cursor sobre los botones */
    .btn-edit:hover {
        background-color: #16A085; /* Verde esmeralda más oscuro al pasar el cursor */
        animation: shine-green 2s infinite; /* Agrega una animación de brillo infinito en verde */
    }

    .btn-delete:hover {
        background-color: #C0392B; /* Rojo más intenso al pasar el cursor */
        animation: shine-red 2s infinite; /* Agrega una animación de brillo infinito en rojo */
    }

    /* Animación de brillo en verde */
    @keyframes shine-green {
        0% {
            background-color: #1ABC9C;
            box-shadow: 0 0 5px rgba(26, 188, 156, 0.8);
        }
        50% {
            background-color: #16A085;
            box-shadow: 0 0 20px rgba(26, 188, 156, 0.8), 0 0 30px rgba(26, 188, 156, 0.8);
        }
        100% {
            background-color: #1ABC9C;
            box-shadow: 0 0 5px rgba(26, 188, 156, 0.8);
        }
    }

    /* Animación de brillo en rojo */
    @keyframes shine-red {
        0% {
            background-color: #E74C3C;
            box-shadow: 0 0 5px rgba(231, 76, 60, 0.8);
        }
        50% {
            background-color: #C0392B;
            box-shadow: 0 0 20px rgba(231, 76, 60, 0.8), 0 0 30px rgba(231, 76, 60, 0.8);
        }
        100% {
            background-color: #E74C3C;
            box-shadow: 0 0 5px rgba(231, 76, 60, 0.8);
        }
    }
</style>
{% endblock %}
