{% extends "base.html" %}

{% block content %}
<style>
    /* Estilos personalizados para la página de inicio */
    .news-article {
        background-color: #f5f5f5; /* Fondo gris claro */
        border: 1px solid #ddd; /* Borde gris */
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    .news-article h2 {
        color: #333; /* Texto negro */
        font-size: 24px;
        margin-bottom: 10px;
    }

    .news-article p {
        color: #666; /* Texto gris */
        font-size: 16px;
    }

    .news-article img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        border: 1px solid #ccc; /* Borde gris para las imágenes */
        border-radius: 5px; /* Bordes redondeados para las imágenes */
    }
</style>
<h1>Enviar una Solicitud</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Solicitar</button>
</form>

<!-- Lista de solicitudes -->
<h2>Lista de Solicitudes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Fecha de creación</th>
            <th>Usuario</th>
            <th>Asunto</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acción</th> <!-- Columna adicional para el botón "Ver" -->
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.created_at }}</td>
            <td>{{ request.user.username }}</td>
            <td>{{ request.request_type }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td><a href="{% url 'view_single_request' request.id %}" class="btn btn-primary">Ver</a></td> <!-- Botón "Ver" -->
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No se encuentran solicitudes.</td> <!-- Ajustado el "colspan" a 6 debido a la nueva columna -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
