{% extends "base.html" %}

{% block content %}
<h1>Submit a Request</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Lista de solicitudes -->
<h2>List of Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th> <!-- Columna adicional para el botón "Ver" -->
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.created_at }}</td>
            <td>{{ request.user.username }}</td>
            <td>{{ request.request_type }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td><a href="{% url 'view_single_request' request.id %}" class="btn btn-primary">Ver</a></td> <!-- Botón "Ver" -->
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No requests found.</td> <!-- Ajustado el "colspan" a 6 debido a la nueva columna -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
